# Dependencies
node_modules/
frontend/node_modules/
server/node_modules/

# Build output
frontend/build/
/build/
/coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env
frontend/.env.local
frontend/.env.production
server/.env

# Misc
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/

# Project files
/New folder/
